@import url('http://fonts.cdnfonts.com/css/circular-std-book');

/* font-family: 'Circular Std Book', sans-serif;
font-family: 'Circular Std Book Italic', sans-serif;
font-family: 'Circular Std Medium', sans-serif;
font-family: 'Circular Std Medium Italic', sans-serif;
font-family: 'Circular Std Bold', sans-serif;
font-family: 'Circular Std Bold Italic', sans-serif;
font-family: 'Circular Std Black', sans-serif;
font-family: 'Circular Std Black Italic', sans-serif; */

@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

/* font-family: 'NanumSquare', sans-serif;  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Noto Sans Kr', sans-serif; */