@keyframes fadeIn-up{
    0%{
        transform:translateY(40px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

/* sub common */
.page-side{
    position:fixed;
    left:150px;
    top:136px;
    z-index:900909090909090909090;
}
.page-title{
    width: 100%;
    /* height:410px; */
    padding: 130px 0;
}
.page-title h2{
    font-size: 76px;
    font-family: "Circular Std Medium";
    font-weight: 500;
    color: #000;
    line-height:79px; 
    transform:translateY(25px);
    opacity:0;
    animation:fadeIn-up 0.75s ease forwards ;
}
.page-title .sec-inner{
    display:flex;
    align-items:center;
}
.sec-inner{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.page-visual{
    height: 800px;
}
.page-visual .sec-inner{
    display:flex;
    align-items:center;
}
.page-visual h3{
    font-size: 24px;
    font-family: "NanumSquare";
    font-weight: 500;
    color: #fff;
    line-height: 45px;
    transform:translateY(25px);
    opacity:0;
    animation:fadeIn-up 0.75s 0.25s ease forwards ;
}
.page-side li{
    margin-bottom:32px;
}
.page-side a{
    font-size: 16px;
    font-family: "Circular Std Medium";
    font-weight: 500;
    color: #000;
    transition: 0.3s ease;
}
.page-side li.active a{
    text-decoration: underline;
}
.page-side li:not(.active) a{
    color:#9b9b9b;
}
.page-side li a:hover{
    opacity:0.5;
}
.page-side.white a{
    color: #fff;
}
.page-side.white li:not(.active) a{
    color: rgb(186, 186, 186);
}

.sec-move{
    position:relative;
    height:76px;
    position:sticky;
    top:0;
    z-index:900909090909;
    margin: 15px;
}
.sec-move .move-btn-group{
    height:100%;
    display:flex;
    align-items:center;
    width:100%;
    max-width:1440px;
    margin:0 auto;
    background-color: #fff;
}
.sec-move .move-btn-group button{
    padding: 0 32px;
    border-radius:25px;
    font-size:20px;
    font-family:"Circular Std Regular";
    font-weight:400;
    color:#8d8d8d;
    margin-right:10px;
    height:50px;
    transition: 0.3s ease;
}
.sec-move .move-btn-group button.active{
    color:#ffffff;
    background-color:#684aec;
}
.sec-move .move-btn-group button:hover{
    color:#684aec
}
.sec-move .move-btn-group button.active:hover{
    color:#ffffff;
}
.sec-title{
    padding: 70px 0;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    opacity:0;
    visibility: visible;
    transform: translateY(40px);
}
.sec-title h3{
    font-size: 50px;
    font-family: "Circular Std Medium";
    font-weight: 500;
    color: #000;
    min-width: 515px;
}
.sec-title p{
    font-size: 18px;
    font-family: "NanumSquare";
    font-weight: 600;
    color: #000;
    line-height: 32px;
}
.sec-title.show{
    animation:fadeIn-up 0.75s ease forwards;
}
.sec-wave .sec-title{
    border-bottom: none;
    padding: 165px 0 95px;
}
.sec-wave-content .sub-content-wrap{
    display: flex;
    justify-content: space-between;
}
.sec-wave-content .sub-content-wrap>li{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sec-wave-content .sub-content-wrap li>span{
    font-size: 30px;
    font-family: "Circular Std Bold";
    font-weight: 600;
    color: #d4d4d4;
    margin-bottom: 25px;
}
.sec-wave-content .sub-content-wrap li>h4{
    font-size: 34px;
    font-family: "NanumSquare";
    font-weight: 600;
    color: #000;
    line-height: 46px;
    margin-bottom: 35px;
}
.sec-wave-content .sub-content-wrap li>h4 span{
    font-family: "Circular Std Book"
}
.sec-wave-content .sub-content-wrap .sub-content{
    display: flex;
}
.sec-wave-content .sub-content-wrap .sub-content li{
    display: flex;
    margin-right: 48px;
}
.sec-wave-content .sub-content-wrap .sub-content span{
    width:20px;
    height:20px;
    border: 6px solid #684aec;
    border-style: inset;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}
.sec-wave-content .sub-content-wrap .sub-content-text h5{
    font-size: 20px;
    font-family: "Noto Sans Kr";
    font-weight: 600;
    color:#000;
    margin-bottom: 20px;
} 
.sec-wave-content .sub-content-wrap .sub-content-text p{
    font-size: 18px;
    font-family: "Noto Sans Kr";
    font-weight: 400;
    color: #000;
    line-height: 30px;
}
.sec-wave-line{
    position: absolute;
    height: 280px;
}
.space{
    height:50vh;
}

.sec-wave-content{
    position: relative;
}
#canvas{
    position: absolute;
}



/* AI Retail Recommendation */
.a-r-r.page-visual{
    background: url("../images/sub/visual/visual01.jpg") no-repeat top / cover;
    background-attachment: fixed;
}
.a-r-r.sec-diagram:not(.sec-diagram-group){
    padding: 55px 0;
    background-color: #fafafa;
    margin-bottom: 70px;
}
.a-r-r.sec-diagram.sec-diagram-group{
    padding-top: 80px;
}
.a-r-r.sec-diagram .diagram-line01{
    /* margin:15px auto 35px; */
    margin:15px auto 0;
    display:block;
}
.a-r-r.sec-diagram .diagram-line02{
    margin:0 auto;
    display:block;
}
.a-r-r.sec-diagram .diagram-text01{
    margin:0 auto;
    display:block
}
.a-r-r.sec-diagram .diagram-object01{
    margin: 0 auto 10px;
    display:block;
    opacity: 0;
}
.a-r-r.sec-diagram .diagram-obj01{
    margin: 0 auto;
    display:block;
}
.a-r-r.sec-diagram .diagram-box{
    background-color: #fafafa;    
    position: relative;
    top: -80px;
    z-index: -1;
    padding-top: 115px;
    padding-bottom: 25px;
}
.a-r-r.sec-diagram img{
    opacity:0;
    transform: translateY(40px);
}
.a-r-r.sec-diagram.show img:nth-child(1){
    animation: fadeIn-up 0.75s ease forwards;
}
.a-r-r.sec-diagram.show img:nth-child(2){
    animation: fadeIn-up 0.75s 0.15s ease forwards;
}
.a-r-r.sec-diagram.show img:nth-child(3){
    animation: fadeIn-up 0.75s 0.3s ease forwards;
}
.a-r-r.sec-diagram.show .diagram-box img:nth-child(1){
    animation: fadeIn-up 0.75s 0.45s ease forwards;
}
.a-r-r.sec-diagram.show .diagram-box img:nth-child(2){
    animation: fadeIn-up 0.75s 0.6s ease forwards;
}

/* FITZME */
.fitzme.page-visual{
    background: url("../images/sub/visual/visual02.jpg") no-repeat top / cover;
    background-attachment: fixed;
}
@media all and (max-width:1920px){
    .sec-inner{
        max-width: 1024px;
    }
    .page-visual{
        height:612px;
    }
    .a-r-r.sec-diagram img{
        width: 100%;
    }
    .sec-title h3{
        min-width:394px;
        font-size: 38px;
    }
    .sec-title p{
        font-size: 16px;
        line-height: 26px;
    }
    .sec-move .move-btn-group{
        max-width:1024px;
    }
    .page-title h2{
        font-size: 58px;
        line-height: 60px;
    }
    .page-side{
        top: 152px;
        left: 115px;
    }
    .page-side a{
        font-size: 14px;
    }
    .page-visual h3{
        font-size: 18px;
        line-height: 34px;
    }

    .a-r-r.sec-diagram .diagram-box{
        top:-56px;
    }
    .a-r-r.sec-diagram .diagram-line02{
        margin: -45px auto 18px auto;
    }
    .sec-move .move-btn-group button{
        font-size:16px;
        height: 42px;
        padding: 0 24px;
    }
}
@media all and (max-width:1500px){
    .sec-inner{
        max-width:860px;
    }
    .page-side{
        top: 80px;
        left: 90px;
    }
    .page-side a{
        font-size: 11px;
    }
    .page-title{
        height: 246px;
    }
    .page-title h2{
        font-size: 45px;
        line-height: 47px;
    }
    .page-visual{
        height: 32.133vw;
    }
    .page-visual h3{
        font-size: 14px;
        line-height: 26px;
    }
    .sec-move{
        height: 48px;
    }
    .sec-move .move-btn-group{
        max-width:860px;
    }
    .sec-move .move-btn-group button{
        font-size: 12px;
        height: 34px;
        padding: 0 18px;
    }
    .sec-title h3{
        font-size:30px;
        line-height: 33px;
        min-width: 304px;
    }
    .sec-title p{
        font-size: 11px;
        line-height: 19px;
    }
    .sec-title{
        padding: 45px 0;
    }
    .a-r-r.sec-diagram:not(.sec-diagram-group){
        padding: 34px 0;
        margin-bottom: 38px;
    }
    .a-r-r.sec-diagram.sec-diagram-group{
        padding-top:45px;
    }
    .a-r-r.sec-diagram .diagram-box{
        top: -48px;
    }
}
@media all and (max-width:1280px){
    .page-title .sec-inner{
        max-width: 57.813vw;
    }
    .sec-inner{
        max-width: 57.813vw;
    }
    .sec-move .move-btn-group{
        max-width: 57.813vw;
    }
    .page-side{
        left: 4.688vw;
    }
}